{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<h2>User Profile</h2>
<div>
    <p>Email: {{ user.email }}</p>
    <h3>Associated Cases:</h3>
    <ul>
        {% for case in user.cases %}
        <li>{{ case.case_type }} - {{ case.status }}</li>
        {% endfor %}
    </ul>
    <h3>Filed Complaints:</h3>
    <ul>
        {% for complaint in user.complaints %}
        <li>{{ complaint.reason_grouped }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
