{% extends 'base.html' %}

{% block title %}All Charts{% endblock %}

{% block content %}
    <h2>Dashboard Chart</h2>
    <div>{{ dashboard_chart_html | safe }}</div>

    <h2>Complaint Chart</h2>
    <div>{{ complaint_chart_html | safe }}</div>

    <h2>Dashboard Active Cases Chart</h2>
    <div>{{ dashboard_active_cases_chart_html | safe }}</div>

    <h2>Complaint Reasons Distribution</h2>
    <div>{{ complaint_reasons_distribution_html | safe }}</div>

    <h2>Case Closure Time Distribution</h2>
    <div>{{ case_closure_time_distribution_html | safe }}</div>
{% endblock %}
