{% extends 'base.html' %}

{% block title %}List of Cases{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>All Cases</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Case ID</th>
                <th>Type</th>
                <th>Status</th>
                <th>Received Year</th>
                <th>Received Month</th>
                <th>Closed Year</th>
                <th>Closed Month</th>
                 
            </tr>
        </thead>
        <tbody>
            {% for case in cases %}
            <tr>
                <td>{{ case.id }}</td>
                <td>{{ case.case_type }}</td>
                <td>{{ case.status }}</td>
                <td>{{ case.request_received_year }}</td>
                <td>{{ case.request_received_month }}</td>
                <td>{{ case.request_closed_year }}</td>
                <td>{{ case.request_closed_month }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
